<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>layout-includes}}
  </head>
  <body id="body">
    <a id="bookmark" href="#body"><i class="icon-bookmark icon-3x"></i></a>
    {{>layout-flash}}
    <div class="container-fluid">
      <div class="row navigation">
	<div class="col-md-6 logo"><img src="favicon.png" /><h2>Deine Gebärden</h2></div>
	<div class="col-md-6 text-right links">
	  <a href="#what">was</a>
	  <a href="#why">warum</a>
	  <a href="#how">konzept</a>
	  <a href="#progress">fortschritt</a>
	  <a href="#faq"><span class="expl" title="frequently asked questions - oft gestellte fragen">FAQ</span></a>
	</div>
      </div>
