{{#user}}
<li class="{{profile}}"><a href="/profile">{{displayname}}</a></li>
<li>
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
    <li><a href="/options">Options</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</li>
{{/user}}
{{^user}}
<li class="{{login}}{{signup}}"><a href="/login">Login</a></li>
<li>
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">Register</a></li>
    <li class="divider"></li>
    <li><a href="/auth/facebook"><i class="fa fa-facebook fa-fw"></i> facebook</a></li>
    <li><a href="/auth/twitter"><i class="fa fa-twitter fa-fw"></i> twitter</a></li>
    <li><a href="/auth/google"><i class="fa fa-google-plus fa-fw"></i> google</a></li>
  </ul>
</li>
{{/user}}