<footer class="container">
  <hr />
  <div class="col-sm-6">
    <ul class="list-inline">
      <li class="{{about}}"><a href="/about">&Uuml;ber uns</a></li>
      <li class="{{contact}}"><a href="/contact">Kontakt</a></li>
      <li class="{{privacy}}"><a href="/privacy">Privatsph&auml;re</a></li>
    </ul>
  </div>
  <div class="col-sm-6 text-right">
    <ul class="list-inline">
      <li>erstellt mit</li>
      <li><a href="http://fortawesome.github.io/Font-Awesome/examples/" target="_new"><i class="fa fa-magic" title="fontawesome"></i></a></li>
      <li><a href="http://twitter.github.io/bootstrap/index.html" target="_new"><i class="fa fa-twitter" title="twitter bootstrap"></i></a></li>
      <li><a href="http://www.github.com" target="_new"><i class="fa fa-github" title="github"></i></a></li>
      <li><a href="http://www.html5rocks.com" target="_new"><i class="fa fa-html5" title="HTML5"></i></a></li>
      <li><a href="http://www.css3.com" target="_new"><i class="fa fa-css3" title="CSS3"></i></a></li>
      <li>und</li>
      <li><i class="fa fa-heart" title="Liebe"></i></li>
    </ul>
  </div>
</footer>
