{{>layout-top}}

<style>
  .input-group { margin-bottom: .5em; }
</style>

<div class="container">

  {{>layout-header}}

  {{#user}}
  <div class="jumbotron">
    <h1>{{displayname}}</h1>
  </div>


  <form class="form form-horizontal" method="post" action="doLogin">  <div class="row">
    <div class="col-sm-9">
      {{>layout-messages}}


      <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input autocomplete="off" type="text" class="form-control" placeholder="username" value="{{email}}" name="username"/>
        </div>
      </div><!-- /.form-group -->


      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input autocomplete="off" type="email" class="form-control" placeholder="Email" value="{{email}}" name="email"/>
            <span class="input-group-btn">
              <button class="btn btn-default" title="use this as your display name">
                <i class="fa fa-fw fa-square-o"></i>
              </button>
            </span>
          </div>
        </div>
      </div><!-- /.form-group -->


    </div><!-- /.col-lg-9 -->
    <div class="col-sm-3">
      <a href="#" class="profile-picture" data-toggle="modal" data-target="#profilepicturemodal">
        <img src="{{image}}" alt="profile picture" class="img-thumbnail img-responsive" />
        <div>edit picture</div>
      </a>
      <br><br>
      <button type="submit" class="btn btn-primary">
        save
      </button>

    </div><!-- /.col-lg-3 -->
  </div><!--/.row -->
  </form>

  <h2>Connections</h2>

  <form class="form form-horizontal">
    <div class="row">
      <div class="col-sm-9">
        <h3>Facebook</h3>
        {{#profiles.facebook}}

        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Facebook Name" value="{{name}}" readonly/>
              <span class="input-group-btn">
                <button class="btn btn-default" title="use this as your display name">
                  <i class="fa fa-fw fa-square-o"></i>
                </button>
              </span>
            </div>
          </div>
        </div><!-- /.form-group -->


        {{/profiles.facebook}}
      </div><!-- /.col-sm-9 -->
      <div class="col-sm-3">
        {{^profiles.facebook}}
        <a class="btn btn-primary" href="/auth/facebook">
          connect
        </a>
        {{/profiles.facebook}}

      </div><!-- /.col-sm-9 -->
    </div><!-- /.row -->
  </form>


  <form class="form form-horizontal">
    <div class="row">
      <div class="col-sm-9">
        <h3>Twitter</h3>
        {{#profiles.twitter}}

        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Facebook Name" value="{{name}}" readonly/>
              <span class="input-group-btn">
                <button class="btn btn-default" title="use this as your display name">
                  <i class="fa fa-fw fa-square-o"></i>
                </button>
              </span>
            </div>
          </div>
        </div><!-- /.form-group -->


        {{/profiles.twitter}}
      </div><!-- /.col-sm-9 -->
      <div class="col-sm-3">
        {{^profiles.twitter}}
        <a class="btn btn-primary" href="/auth/twitter">
          connect
        </a>
        {{/profiles.twitter}}

      </div><!-- /.col-sm-9 -->
    </div><!-- /.row -->
  </form>



  <form class="form form-horizontal">
    <div class="row">
      <div class="col-sm-9">
        <h3>Google+</h3>
        {{#profiles.google}}

        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Facebook Name" value="{{name}}" readonly/>
              <span class="input-group-btn">
                <button class="btn btn-default" title="use this as your display name">
                  <i class="fa fa-fw fa-square-o"></i>
                </button>
              </span>
            </div>
          </div>
        </div><!-- /.form-group -->


        {{/profiles.google}}
      </div><!-- /.col-sm-9 -->
      <div class="col-sm-3">
        {{^profiles.google}}
        <a class="btn btn-primary" href="/auth/google">
          connect
        </a>
        {{/profiles.google}}
      </div><!-- /.col-sm-9 -->
    </div><!-- /.row -->
  </form>

  {{/user}}

</div>
<div class="modal fade" id="profilepicturemodal" tabindex="-1" role="dialog" aria-labelledby="profilepicturemodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="fileinput" data-provides="fileinput">
        <div class="modal-body">
          <div class="fileinput-preview fileinput-exists thumbnail">
            <img src="{{user.image}}" data-src="" alt="profile image" class="img-responsive"/>
          </div>
          <input type="file" name="profileimage"/>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <div class="pull-left">
            <a href="#" class="btn btn-default" data-trigger="fileinput">Select image</span>
            <a href="#" class="btn btn-default" data-trigger="imagecrop">Crop image</span>
            <a href="#" class="btn btn-warning" data-dismiss="fileinput">Remove</a>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-footer -->
      </div><!-- /.fileinput -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{>layout-bottom}}

