{{>layout-top}}

<section class="container">

  {{>layout-header}}
  {{>layout-messages}}

  <header class="jumbotron">
    <form class="form form-horizontal" method="post">
      <p class="lead">
	<div class="input-group input-group-lg">
	  <span class="input-group-addon">@</span>
	  <input tabindex="1" type="email" class="form-control" placeholder="email" name="email"/>
	</div>
	<div class="input-group input-group-lg">
	  <span class="input-group-addon"><i class="fa fa-key"></i></span>
	  <input tabindex="2" type="password" class="form-control" placeholder="password" name="password"/>
	</div>
	<div class="input-group input-group-lg">
	  <span class="input-group-addon"><i class="fa fa-key"></i></span>
	  <input tabindex="3" type="password" class="form-control" placeholder="confirm password" name="passwordconf"/>
	</div>
	<div class="input-group">
	  <button tabindex="4" type="submit" class="btn btn-primary btn-lg">
	    <i class="fa fa-key"></i>anmelden
	  </button>
	  &nbsp;oder <a tabindex="5" href="/login">einloggen</a> mit Email und Password
	</div><!-- /.input-group -->
	<hr />
	{{>third-party-login}}
      </p>
    </form>
  </header><!--/.jumbotron -->
</section><!--/.container -->
{{>layout-footer}}
{{>layout-bottom}}
