{{>layout-top}}
{{>layout-header}}

<section class="container">

  {{#pkg}}
  <header class="jumbotron">
    <h1>About {{name}} {{version}}</h1>
    <p class="lead">{{description}}</p>
  </header>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>GitHub</h4>
      <p>
	<a href="{{homepage}}" target="_new">{{name}} bei github</a><br>
	<a href="{{bugs}}" target="_new">melde ein Problem</a>
      </p>
      <h4>Team</h4>
      {{#author}}
      <p>{{name}} (<a href="{{url}}" target="_new">{{url}}</a>)</p>
      {{/author}}
      {{#contributors}}
      <p>{{name}} (<a href="{{url}}" target="_new">{{url}}</a>)</p>
      {{/contributors}}

      <h4>Lizenz</h4>
      {{#license}}<p>{{license}}</p>{{/license}}
      {{#licenses}}
      <p>{{type}} (<a href="{{url}}" target="_new">{{url}}</a>)</p>
      {{/licenses}}
      {{#licenseText}}
      <pre>{{licenseText}}</pre>
      {{/licenseText}}

    </div>
  </div>

  {{/pkg}}
</section>
{{>layout-footer}}
{{>layout-bottom}}
