{{>layout-top}}
{{>layout-header}}

<section class="container">

  {{>layout-messages}}

  <header class="jumbotron">
    <h1>Kontakt</h1>
    <form method="POST">
      <p class="lead">Hast du Verbesserungsvorschläge? Gefällt dir etwas nicht? Oder willst du einfach mal Danke sagen?
  </form>
  </header>
  <p class="lead">
    <textarea name="message" class="form-control" rows="3" placeholder="Schreib uns was ..."></textarea>
  </p>
  <p><button type="submit" class="btn btn-lg btn-success">Abschicken!</button></p>
</section>

{{>layout-footer}}
{{>layout-bottom}}
