{{>layout-top}}
{{>layout-header}}

<section class="container">

  {{>layout-messages}}

  <header class="jumbotron">
    <h1>Your Signs&nbsp;<small>deine Gebärden</small></h1>
    <p class="lead">Hast du noch kein Gebärdensprachwörterbuch gefunden, mit dem du so richtig zufrieden bist?<br>Dann hilf uns, ein besseres zu gestalten. Mit <strong><a href="#start">deinen</a></strong> Gebärden.</p>
  </header>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 id="start">so hilfst du uns</h3>
      <section>
        <a href="/signup">Melde dich an</a>, stöbere in unserem <a href="/gebaerden">Gebärden Wörterbuch</a> und ergänze es mit deinen Gebärden, aus deiner Region. Finde Wörter, für die noch <a href="/gebaerden/fehlende">keine Gebärde</a> gepeichert ist, und füge <a href="/gebaerden/erstellen">neue Gebärden</a> hinzu. Vergiss auch nicht, deinen Freunden von uns zu <a href="#empfehlen">erzählen</a>. Und wenn dir unsere Arbeit besonders gefällt, freuen wir uns auch über finanzielle <a href="#unterstuetzen">Unterstützung</a>. Fallst du noch Fragen hast, schaue in unserer <a href="#faq">Fragen und Antworten</a> Abteilung nach, oder <a href="/contact">schreibe uns</a>.
      </section>
    </div>
  </div>

  <div class="row promotion">
    <div class="col-md-4 col-md-offset-1">
      <h3 id="why">warum wir das machen</h3>
      <p> blablabla ...</p>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <h3 id="how">wie wir das machen</h3>
      <p> blablabla ...</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h3 id="empfehlen">empfehle uns weiter</h3>
      <section class="btn-group">
        <a href="//www.facebook.com/" target="_new" class="btn btn-default" title="sag, dass wir dir gefallen"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="//www.twitter.com/" target="_new"  class="btn btn-default" title="twitter &uuml;ber uns"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="//plus.google.com/" target="_new"  class="btn btn-default" title="gib uns ein +1"><i class="fa fa-google-plus"></i> Google+</a>
        <a href="mailto:?subject=schau dir das mal an&body=Hey,%0A%0D%0A%0Dich hab diese Seite gefunden, und dachte mir, das es dich Interessiert:%0A%0D%0A%0Dhttp%3A%2F%2Fwww.signs.de" target="_new" title="pempfehl uns per email" class="btn btn-default" ><i class="fa fa-envelope"></i> Email</a>
      </section>

    </div>
    <div class="col-md-4 col-md-offset-2">
      <h3 id="unterstuetzen">unterstütze uns</h3>
      <section class="btn-group">
        <a href="" target="_new"  class="btn btn-default" title="unterstütze uns über PayPal"><i class="fa fa-money"></i> PayPal</a>
        <a href="" target="_new"  class="btn btn-default" title="unterstütze uns mit Bitcoins"><i class="fa fa-bitcoin"></i> BitCoins</a>
      </section>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>aboniere unseren <abbr title="Neuigkeiten per email">Newsletter</abbr></h3>
      <form action="/subscribe" method="POST">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input name="email" class="form-control" type="email" placeholder="Email Adresse"/>
          <span class="input-group-btn">
            <button title="Anmelden" type="submit" class="btn btn-primary">
              <i class="fa fa-check"></i>
            </button>
          </span>
        </div>
      </form>

    </div>

  </div><!-- /.row -->


  <div class="row">
    <div class="faq col-md-10 col-md-offset-1">

      <h3 id="faq">Fragen und Antworten</h3>
      <section>
        <p> blablabla ...</p>
      </section>
    </div>
  </div><!-- /.row -->

</section>

{{>layout-footer}}
{{>layout-bottom}}
