{{>layout-top}}
{{>layout-header}}

<section class="container">

  {{>layout-messages}}

  <header class="jumbotron">
    <h1>Your Signs</h1>
    <p class="lead">Noch kein Gebärdensprachwörterbuch gefunden, was dich zufrieden Stellt?<br>Dann hilf uns, ein besseres zu gestalten. Mit <strong>deinen</strong> Gebärden.</p>
    <p><a class="btn btn-lg btn-success" href="#start">Wie geht das?</a></p>
  </header>

  <div class="row promotion">
    <div class="col-md-6">
      <h3 id="why">warum wir das machen</h3>

    </div>
    <div class="col-md-6">
      <h3 id="how">wie wir das machen</h3>

    </div>
  </div>

  <div class="row" id="start">
    <div class="col-md-12">
      <h3>so hilfst du uns</h3>
      Melde dich an, stöbere im <a href="/gebaerden">Wörterbuch</a> und ergänze es mit deinen Gebärden. Finde Wörter, für die noch <a href="/gebaerden/fehlende">keine Gebärde</a> gepeichert ist, und füge <a href="/gebaerden/erstellen">neue Gebärden</a> hinzu.
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <h3>empfehle uns weiter</h3>
      <a href="//www.facebook.com/" target="_new" class="btn btn-default" title="sag, dass wir dir gefallen"><i class="fa fa-facebook"></i> bei Facebook</a>
      <a href="//www.twitter.com/" target="_new"  class="btn btn-default" title="twitter &uuml;ber uns"><i class="fa fa-twitter"></i> bei Twitter</a>
      <a href="//plus.google.com/" target="_new"  class="btn btn-default" title="gib uns ein +1"><i class="fa fa-google-plus"></i> bei Google+</a>
      <a href="mailto:?subject=schau dir das mal an&body=Hey,%0A%0D%0A%0Dich hab diese Seite gefunden, und dachte mir, das es dich Interessiert:%0A%0D%0A%0Dhttp%3A%2F%2Fwww.signs.de" target="_new" title="empfehl uns per email" class="btn btn-default" ><i class="fa fa-envelope"></i> per Email</a>

      <h3>unterstütze uns</h3>
      <a href="" target="_new"  class="btn btn-default" title="unterstütze uns über PayPal"><i class="fa fa-money"></i> über PayPal</a>
      <a href="" target="_new"  class="btn btn-default" title="unterstütze uns mit Bitcoins"><i class="fa fa-bitcoin"></i> mit BitCoins</a>

      <h3>abboniere unseren <abbr title="neuigkeiten per email">newsletter</abbr></h3>
      <form action="/subscribe" method="POST">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input name="email" class="form-control" type="email" placeholder="Email Adresse"/>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-check"></i>
            </button>
          </span>
        </div>
      </form>

    </div>
    <div class="col-md-6">

      <h3>so weit sind wir schon</h3>
      <div class="progress progress-striped">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%;"></div>
      </div>
      <ul class="fa fa-ul">
        <li><i class="fa fa-li fa-check-square-o"></i>Idee aufschreiben</li>
        <li><i class="fa fa-li fa-check-square-o"></i>Erste Skizze einer Webseite</li>
        <li><i class="fa fa-li fa-check-square-o"></i>Konkurrenz anschauen</li>
        <li><i class="fa fa-li fa-square-o"></i>Konzept ausarbeiten</li>
      </ul>
    </div>


  </div><!-- /.row -->


  <div class="row">
    <div class="faq col-md-12">

      <h3 id="faq">Fragen und Antworten</h3>
      <section>
        bla
      </section>
    </div>
  </div><!-- /.row -->

</section>

{{>layout-footer}}
{{>layout-bottom}}
