.stream {
    position: relative;
    min-height: 4em;
    text-align: center;
}
.stream > video {
    display: none;
    margin: 0 auto;
}
.stream > div.snapshot-preview {
    background: white;
}
.stream > div.snapshot-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    opacity: 0.75;
    text-align: center;
}
.stream > div.snapshot-fill > i {
    font-size: 5em;
}

.snapshots > img {
    width: 30%;
    margin: 1%;
    height: auto;
}

.step0 {
    cursor: help;
}

.fa-times-circle-o {
    cursor: pointer;
    position: absolute;
    top: .5em;
    right: 1em;
    color: #ddd;
}
.fa-times-circle-o:hover {
    color: white;
}

.snapshot-preview img {
    margin: 0 auto;
}